---
import BlogCard from "@components/BlogCard.astro";
import Layout from "@layouts/Layout.astro";

// Look up the TIL content collection
import { getCollection, getEntry } from "astro:content";
let allPosts = await getCollection("til");
const newest = (a, b) => (a.data.pubDate < b.data.pubDate ? -1 : 1);
const articles = allPosts.sort(newest).reverse();
---

<Layout title="Today I learned">
  <main>
    <h1>TIL about...</h1>
    {
      articles.map((p) => (
        <BlogCard
          title={p.data.title}
          subtitle={p.data.description}
          date={p.data.pubDate}
          url={p.data.url}
          slug={p.slug}
        />
      ))
    }
  </main>
</Layout>
