---
interface Props {
  title: string;
  subtitle: string;
  date: string;
  url: string;
  slug: string;
}

const { title, subtitle, date, url, slug } = Astro.props;
---

<div class="box">
  <strong class="block titlebar">
    <div class="f-row">
      <h3 class="flex-grow:1">{title}</h3>
      <p>{date}</p>
    </div>
  </strong>
  <br />
  <div class="f-switch">
    <sub-title class="flex-grow:1">{subtitle}</sub-title>
    <div class="f-row flex-grow:0 center" hx-boost="true">
      <a class="chip ok"
        href={`/til/${slug}/`}
        hx-target="closest .f-switch"
        hx-swap="afterend" 
      >
        Read
      </a>
      <a href={url} aria-label="Explore">
        <button class="iconbutton" type="button">→</button>
      </a>
    </div>
  </div>
</div>
